.list-group {
    overflow-x: auto;
    height:55vh;

    .list-group-item {
        margin:30px;
        background-color: lightblue;
    }
}

.pagination-container {
    height:150px;
}

ngb-pagination {
    position:absolute;
    right:50px;
}