.container-xl {
    max-width: 2400px;
    width:90%;
    margin: 0 auto;
    padding: 0;
}

.folder {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid;
}

.user-img {
    max-width: 250px;
}

img {
    width:100%;
}

.top {
    min-height:20vh;
}

.reg-details {
    margin-top:5vh;
}

#home-button-div {
    margin: 5vh 0 0 5vh;
    a {
        font-size: 30px;
    }
}


@media (max-width: 576px) {
    .top {
        min-height:10vh;
    }

    .col-sm {
        margin-bottom: 100px;
    }

}
