<div id="home-button-div">
    <a href="#"
      routerLink="/home"
      routerLinkActive="active">
      <i class="fa fa-arrow-left"></i>Return Home
    </a>
  </div>

<div class="folder card mb-3 border-primary">
    <div class="card-header text-center">
        <h1>Record #{{registrar.id}}</h1>
    </div>
    <div class="card-body">

        <div class="container-xl">
            <div class="row">
              <div class="col-sm">
                
                <div class="top">
                    <img class="img-fluid user-img" src="../../../assets/images/anon-user.png" alt="Anonymous User"/>
                </div>
                   
                <h1>{{registrar.firstName}} {{registrar.lastName}}</h1>
                <h2>Date of Death: {{getDate()}}</h2>

                <div class="reg-details">
                    <h1>Registrar Details:</h1>

                    <table>
                        <tr>
                            <th>Religion:</th>
                            <th>{{registrar.religion}}</th>
                        </tr>
                        <tr>
                            <th>Age:</th>
                            <th>{{registrar.age}} {{registrar.ageDetail}}</th>
                        </tr>
                        <tr>
                            <th>Occupation:</th>
                            <th>{{registrar.occupation}}</th>
                        </tr>
                        <tr>
                            <th>Marital Status:</th>
                            <th>{{registrar.marriageStatus}}</th>
                        </tr>
                    </table>
                </div>
              </div>

              <div class="col-sm">
                <div class="top">
                    <a href="#" *ngIf="!getIsAdmin()" id="edit-registrar-button" routerLink="../graveDetails" class="nav-link btn btn-primary btn-lg" routerLinkActive="active">Edit Registrar Record</a><br />
                    <a href="#" id="update-registrar-info-link" routerLink="../graveDetails" routerLinkActive="active">Please report any inaccurate information by clicking here</a>
                </div>

                <!--<img class="img-fluid map-img" src="../../../assets/images/grave-location.png" alt="Grave Location"/>-->
                
                <agm-map [latitude]="54.021166" [longitude]="-6.393735" [mapTypeId]="'satellite'" [zoom]="18">
                  <agm-marker [latitude]="54.021166" [longitude]="-6.393735" [label]="{color: 'black', text: 'killians dead', fontWeight:'bold'}"></agm-marker>
                </agm-map>

              </div>
            </div>
          </div>
      
    </div>
  </div>
