.container-xl {
    max-width: 2400px;
    width:90%;
    margin: 0 auto;
    padding: 0;
}

.folder {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid;
}

.img-fluid {
    max-width: 75%;
}

