.login-form {
  background-image: url("../../../assets/images/LoginbackgroundImage.jpg");
  padding-bottom: 8%;
  padding-top: 2%;
  // text-align: center;
  color: white;
}

// .login-form-border {
//   /* border: 2px solid white; */
//   border-radius: 30px;
//   margin: 0% 25% 0% 25%;
//   padding: 5% 0% 10% 0%;
//   box-shadow: 0px 0px 5px 2px white;
// }

.form-group i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.fa-user,
.fa-lock {
  padding: 10px;
  color: white;
  min-width: 50px;
  text-align: center;
}
.form-control {
  width: 100%;
  padding-left: 45px;
  padding-bottom: 10px;
  text-align: left;
}
.login-btn-block {
  width: 75%;
}
.form-border {
  border-radius: 30px;
  margin: 0 25%;
  padding: 5% 0 10%;
  background-color: #1976d2;
  box-shadow: 0 0 15px 12px red;
}
::placeholder {
  color: white;
}
input[type="email"] {
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
  color: white;
}
input[type="email"]:focus {
  background-color: transparent;
  color: white;
}
input[type="password"] {
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
}
input[type="password"]:focus {
  background-color: transparent;
  color: white;
}

.social-sign-up {
  text-align: center;
  margin: 5%;
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.fa-facebook {
  font-size: 24px;
  background: blue;
  color: white;
  border: 1px blue solid;
  border-radius: 40px;
  padding-right: 30px;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.fa-twitter {
  font-size: 24px;
  background: lightskyblue;
  color: white;
  border: 1px lightskyblue solid;
  border-radius: 40px;
  padding-right: 33px;
  padding-top: 11px;
  padding-left: 14px;
  padding-bottom: 11px;
}
.fa-google {
  font-size: 24px;
  background: red;
  color: white;
  border: 1px red solid;
  border-radius: 40px;
  padding-right: 34px;
  padding-top: 10px;
  padding-left: 13px;
  padding-bottom: 10px;
}
