<div class="container">
    <h1><b>Dowdallshill Saint Patrick Cemetery</b></h1>

    <div class="jumbotron jumbotron-fluid">

        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <blockquote>
                        <img class="top-images" src="./assets/images/graveImageMainLeft.jpg" alt="image of graveyard">
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <img class="top-images" src="./assets/images/graveImageMainLeft.jpg" alt="image of graveyard">
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <img class="top-images" src="./assets/images/graveImageMainRight.jpg" alt="image of graveyard">
                    </blockquote>
                </div>
            </div>
           <br><br><h1>promotional video for the Application: </h1><br>
           <video width="500" controls="">
               <source src="http://www.dspc-explorer.com/view/images/promo%20vid.mp4" type="video/mp4">
           </video>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <div class="page-header" id="Discover">
            <h2>How We Can Help You?</h2>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <blockquote>
                        <img class="feature-icons" src="./assets/images/search_icon.png" alt="search">
                        <h3>SEARCH</h3>
                        <p>Search through our records just simply type in the surname your looking for and we'll do the rest</p>

                        <h3>Have you downloaded our app?</h3>
                        <p>Allow our Dowdallshill Saint Patrick Cemetery App to direct you to the right grave for you. Making research more accessible to everyone</p>
                        <a href="https://play.google.com/store/apps/details?id=com.DSPC.kieron.dspc_explorer"><img src="./assets/images/en_badge_web_generic.png" alt="get it on google play"></a>

                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <img class="feature-icons" src="./assets/images/discover_icon.png" alt="search">
                        <h3>DISCOVER</h3>
                        <p>The minute you find the person your looking why don't you look through their family history.</p>
                        <img class="w3-image w3-round-large" src="./assets/images/app4.png" alt="phone" usemap="#phonemap">
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <img class="feature-icons" src="./assets/images/locate_icon.png" alt="search">
                        <h3>LOCATE</h3>
                        <p>Once your assured why don't you visit that particular person at Dowdallshill Saint Patrick Cemetery.</p>
                        <img class="w3-image w3-round-large" src="./assets/images/app2.png" alt="phone" usemap="#phonemap">
                    </blockquote>
                </div>
            </div>
                
        </div>
    </section>
</div>