<div class="container">
    <h1><b>Dowdallshill Saint Patrick Cemetery</b></h1>

    <div class="jumbotron jumbotron-fluid">

        <div class="container">
           <img src="./assets/images/graveImageMainLeft.jpg" alt="image of graveyard" style=" max-height: 500px; width: 490px;">
           <img src="./assets/images/graveImageMainRight.jpg" alt="image of graveyard" style=" max-height: 500px; width: 490px;">
           <br><br><h1>promotional video for the Application: </h1><br>
           <video width="1000" controls="">
               <source src="./assets/videos/promo vid.mp4" type="video/mp4">
           </video>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <div class="page-header" id="Discover">
            <h2>How We Can Help You?</h2>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <blockquote>
                        <img src="./assets/images/search_icon.png" alt="search" style="width: 80px; height: 80px;">
                        <h3>SEARCH</h3>

                        <p>Search through our records just simply type in the surname your looking for and we'll do the rest</p>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <img src="./assets/images/discover_icon.png" alt="search" style="width: 80px; height: 80px;">
                        <h3>DISCOVER</h3>

                        <p>The minute you find the person your looking why don't you look through their family history.</p>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <img src="./assets/images/locate_icon.png" alt="search" style="width: 80px; height: 80px;">
                        <h3>LOCATE</h3>

                        <p>Once your assured why don't you visit that particular person at Dowdallshill Saint Patrick Cemetery.</p>
                    </blockquote>

                </div>
                <div class="col-lg-4">
                    <blockquote>
                        <h3>Have you downloaded our app?</h3>
                        <p>Allow our Dowdallshill Saint Patrick Cemetery App to direct you to the right grave for you. Making research more accessible to everyone</p>
                        <a href="https://play.google.com/store/apps/details?id=com.DSPC.kieron.dspc_explorer"><img src="./assets/images/en_badge_web_generic.png" alt="get it on google play" style="width: 300px; height: 100px;"></a>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                        <img class="w3-image w3-round-large" src="./assets/images/app4.png" alt="phone" width="250" height="500" style="padding-right:20px;" usemap="#phonemap">
                        <img class="w3-image w3-round-large" src="./assets/images/app2.png" alt="phone" width="250" height="500" usemap="#phonemap">
                        
                </div>
            </div>
                
        </div>
    </section>
</div>