h1 {
    color:#2FA4E7;
    line-height: 1.2;
    font-weight: bolder;
    font-size: 2.5rem;
}

h2 {
    color:#2FA4E7;
    line-height: 1.2;
    font-weight: bolder;
    font-size: 2rem;
}


h3 {
    color:#2FA4E7;
    line-height: 1.2;
    font-weight: bolder;
    font-size: 1.75rem;
}

img {
    margin: 5px;
}