<div class="card border-primary mb-3">
    <h3 class="card-header">{{arrResult[1]}}</h3>
  <div class="row">
    <div class="card-body col-lg-4">
      <img src="../../../assets/images/{{image}}" alt="Grave image">
    </div>
    <div class="card-body col-lg-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Grave Owner Name: {{arrResult[2]}}</li>
        <li class="list-group-item">People in Grave: {{arrResult[3]}}</li>
        <li class="list-group-item">Grave Size: {{arrResult[4]}}</li>
      </ul>
    </div>
    
    <div class="card-body col-lg-4 text-center right-column">
      <button (click)="showGraveDetails()" type="button" class="btn btn-primary">View Selected Grave Details</button>
    </div>
  </div>
</div>
