<div class="card border-primary mb-3">
    <h3 class="card-header">{{arrResult[1]}}</h3>
    <div class="card-body">
      <h5 class="card-title">Grave Owner Name: {{arrResult[2]}}</h5>
    </div>
    <img src="../../../assets/images/{{image}}" alt="Card image">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">People in Grave: {{arrResult[3]}}</li>
      <li class="list-group-item">Grave Size: {{arrResult[4]}}</li>
    </ul>
    <div class="card-body">
      <a href="javascript:void(0)" (click)="showGraveDetails()" class="card-link">View Selected Grave Details</a>
    </div>
</div>




<!--<div class="card border-primary mb-3">
    <img src="../../../assets/images/{{image}}"/>
    <ul class="list-group">
        <li class="list-group-item">Grave Name: {{arrResult[1]}}</li>
        <li class="list-group-item">Grave Owner Name: {{arrResult[2]}}</li>
        <li class="list-group-item">People in Grave: {{arrResult[3]}}</li>
        <li class="list-group-item">Grave Size: {{arrResult[4]}}</li>
        <li class="list-group-item"><a (click)="showGraveDetails()" class="nav-link view-grave-button">View Selected Grave Details</a></li>
    </ul>
</div>-->
