<div class="aboutTopContent">
  <div class="container">
    <div class="homeButton">
      <a style="font-size: large;"
        ><i class="fa fa-angle-double-left" style="font-size: 22px;"></i> Return
        Home</a
      >
    </div>

    <h1 style="margin-top: 15%; font-size: 40px; font-weight: bold;">
      <b>What you should know about us</b>
    </h1>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="top-images-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel
          ex eget purus malesuada fringilla. Proin lectus lectus, pretium vel
          eros ac, dictum faucibus urna. Etiam mauris elit, mollis quis lobortis
          vel, laoreet vel magna. Suspendisse potenti. Duis et libero rutrum,
          euismod nibh sit amet, tristique lacus. In hac habitasse platea
          dictumst. In molestie, tellus nec ultrices maximus, magna ex malesuada
          orci, vitae elementum diam ipsum id sem. Proin accumsan non ipsum sed
          gravida. Praesent vulputate ac urna ac lacinia.
        </p>
        <p>
          Quisque erat felis, aliquam vel ante ac, euismod vestibulum lorem.
          Mauris interdum id ipsum vel ultricies. Duis lacinia quam sit amet
          magna euismod placerat. Pellentesque consequat enim nec tincidunt
          vulputate. Maecenas sed interdum nisi, eu condimentum velit. Donec
          rhoncus leo sit amet elit eleifend facilisis. Suspendisse sapien enim,
          sodales nec nisi quis, efficitur pretium nulla. Nullam tincidunt
          mauris tortor, nec scelerisque magna dictum quis. Suspendisse
          sagittis, ex ac elementum auctor, justo lectus ullamcorper ante, ac
          viverra nulla ipsum ut augue.
        </p>

        <p>
          Sed non justo vel odio mollis euismod id in justo. Pellentesque eget
          accumsan tellus, nec dignissim turpis. Nam ut odio vel purus tempor
          bibendum ut in risus. Proin suscipit ex non augue porta lacinia. Fusce
          tincidunt, nibh sit amet sollicitudin sodales, nisi massa volutpat
          lorem, sed pretium ex neque sit amet mauris. Proin porttitor dolor
          accumsan, tincidunt ante sed, cursus massa. Morbi turpis nisl, porta
          vel dapibus non, mollis vestibulum quam.
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="card-deck my-5 mx-5">
        <div class="card border-0 p-2 col-md-6">
          <img
            class="top-images"
            src="./assets/images/graveImageMainLeft.jpg"
            alt="image of graveyard"
            id="myImg"
            (click)="openModal(this)"
          />
        </div>

        <div class="card border-0 p-2 col-md-12">
          <img
            class="top-images"
            src="./assets/images/graveGate.jpg"
            alt="image of graveyard"
            id="myImg"
            (click)="openModal(this)"
          />
        </div>

        <div class="card border-0 p-2 col-md-6">
          <img
            class="top-images"
            src="./assets/images/graveImageMainRight.jpg"
            alt="image of graveyard"
            id="myImg"
            (click)="openModal(this)"
          />
        </div>
      </div>
    </div>
    <br /><br />
    <div id="myModal" class="modal">
      <span class="close" (click)="closeModal()">&times;</span>
      <img class="modal-content" id="img01" src= />
      <div id="caption"></div>
    </div>
  </div>
</div>
