.folder {
    border: 3px solid;
}

.registrar-list {
    margin: 0 15px;
}

.folder, .registrar-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.grave-overview-key {
    font-size: 20px;
}

.container-xl {
    max-width: 2400px;
    width:90%;
    margin: 0 auto;
    padding: 0;
}

.card {
    border: 3px solid;
}
