.search-result-card {

    img {
        margin-left:auto;
        margin-right:auto;
        float:left;
    }
    
    li {

        &:last-child {
            padding:0px;
            margin:auto;
        }
       
    }
    
    a {
        margin:auto;
    }

}


