<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img width="40" alt="DSPC Logo" src="../assets/images/Logo.png" />
  <span>Welcome to DSPC Explorer</span>
  <div class="spacer"></div>

  <a href="#" routerLink="/home" class="nav-link" routerLinkActive="active"
    >Home</a
  >
  <a href="#" routerLink="/login" class="nav-link" routerLinkActive="active"
    >Login</a
  >
  <a href="#" routerLink="/about" class="nav-link" routerLinkActive="active"
    >About</a
  >
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img width="40" alt="DSPC Logo" src="../assets/images/Logo.png" />
  <span class="navbar-brand ml-3">Welcome to DSPC Explorer</span>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          href="#"
          routerLink="/login"
          class="nav-link"
          routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          routerLink="/about"
          class="nav-link"
          routerLinkActive="active"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
