<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="#" routerLink="home" routerLinkActive="active">
    <img
      width="40"
      alt="DSPC Logo"
      src="../assets/images/Logo.png"
    />
  </a>  
  
  
    <span>Welcome to DSPC Explorer</span>
      <div class="spacer"></div>
  


      <a href="#" routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
      <a href="#" routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
      <a href="#" routerLink="about" class="nav-link" routerLinkActive="active">About</a>
  </div>
